html {
  font-family: "Freeman", sans-serif;
  color: red;
  background-color: black;
  text-align: center;
}

hr {
    border: none; /* Remove default border */
    height: 2px; /* Set the height of the horizontal line */
    background-color: red; /* Set the color of the horizontal line */
    width: 100%; /* Optional: Set the width of the horizontal line */
    margin: 20px 0; /* Optional: Adjust margin as needed */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    align-items: center;
}

.image-row {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent images from wrapping to the next line */
}

.image-container {
  margin-right: 10px; /* Adjust the space between images */
}

.image-link {
  display: inline-block; /* Ensure the link takes up the entire space of the image */
  text-decoration: none;
}

.image-container img {
  max-width: 100%; /* Ensure images don't exceed their container width */
  height: auto; /* Maintain aspect ratio */
  display: block;
}
